@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site currently has no privacy policy.
    All movie titles and information provided on this page are pulled from Google searches. 
</p>
