@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


html {
  font-size: 14px;
  font-family: 'Georgia', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem #E6E6FA, 0 0 0 0.25rem #E6E6FA;
    background-color: #E6E6FA;
}

.btn {
    background-color: #E6E6FA;
}

.btn:hover {
    background-color: white;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-image: url("background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: darkslategrey;
}

footer {
    background-color: #f7d1cd;
    text-align: center;
    color: slategrey;
}

navbar {
    background-color: #FFA07A;
}